html,
body,
.App,
#root {
  height: 100%;
  width: 100%;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* Photo by Marco Molitor on Unsplash */
.home-cta {
  background: url('./images/background.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-cta>h1 {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 5rem;
}

.content {
  margin-top: 60px;
}

.destroy {
  display: inline;
}

.destroy>input[type="submit"] {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  color: #007bff;
}

.destroy:hover>input[type="submit"] {
  text-decoration: underline;
}

.container,
.flash {
  margin-top: 60px;
}

.nav-destroy>input[type="submit"] {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  color: rgba(0, 0, 0, .5);
  display: block;
  padding: .5rem 0.5rem;
}

@media (min-width: 992px) .nav-destroy>input[type="submit"] {
  padding-right: .5rem;
  padding-left: .5rem;
}

.nav-destroy:hover>input[type="submit"] {
  color: rgba(0, 0, 0, .7);
}


.card {
  margin: auto;
  width: 40%;
  /* shadow to give it the floating card effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
  transition: 0.25s;
}

/* hover effect on card makes shadow larger */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

img {
  width: 100%;
  /* border-radius: 5px 5px 0 0; */
}

.container2 {
  padding: 2px 18px;
  width: 100px;
}
.carousel-inner {
  width: 40%;
  margin-left: 30%;

}